/* Base styles */
html {
    font-size: 100%; /* Typically 16px by browser default */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Times New Roman', Georgia, Times, serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: #cccccc;
    color: #000;
}

/* Layout wrapper */
.outer-container {
    margin: 2em;
}

.inner-container {
    max-width: 60em;
    margin: 2em auto;
    border:2px solid #666666;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

/* Header */
header {
    border-bottom: 1px solid #000000;
    padding: 0.5em 2em 0;
}

header h1 {
    font-size: 2.25em;
    margin: 0;
}

header img {
  display: block;
  margin: 0 1em 0 0;
  float: left;
}

/* Navigation */
nav {
    margin-bottom: 2em;
}

nav a {
    margin-right: 1em;
    text-decoration: none;
    color: #007acc;
}

nav a:hover {
    text-decoration: underline;
}

/* Main blog content */
article {
    margin-bottom: 1em;
    padding: 2em 3em 1em;
}

article h2 {
    font-size: 2.25em;
    margin-top: 0;
}

article h3 {
    border-top:1px dashed #999;
    padding-top: 1em;
    font-size: 1.5em;
}

article h4 {
    font-size: 1.25em;
    font-style: italic;
}

article img {
  max-width: 90%;
}

article ol.list-with-emphasis li::marker {
  font-weight: bold;
}

article li {
    margin: 0 0 0.5em;
    font-size: 1.25em;
}

article li li {
    font-size: 1em;
}

article p:not(li p) {
    margin: 1em 0;
    font-size: 1.25em;
}

article p.read-on {
    margin: 1em 0;
    font-size: 1.25em;
    text-align: right;
}

figure {
    margin: 0;
    border: 1px solid #999999;
    padding:1em;
    background-color: #cccccc;
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
}

figure.side-bar {
    max-width: 15em;
    margin: 0 0 1em 3em;
    padding:0.5em;
    float: right;
}

figure img {
    border: 1px solid #000000;
}

/* Footer */
footer {
    border-top: 1px solid #000;
    padding: 1em 3em;
    font-size: 0.875em;
}

/* Responsive tweaks */
@media (max-width: 40em) {
    .container {
        padding: 1em;
    }

    article h2 {
        font-size: 1.5em;
    }
}
